/* Base Background */
.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  background-image: url('https://images.unsplash.com/photo-1724166573009-4634b974ebb2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHJlYWN0JTIwanN8ZW58MHx8MHx8fDA%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

/* Overlay */
.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

/* Website name Styling */
.Website-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  padding-left: 40px;
  margin-top: -5px;
  height: auto;
  z-index: 2;
}

.Website-card .card-title {
  color: white;
  font-family: "Google Sans Code", monospace;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
  padding-left: 0;
  position: relative;
}

.Website-card .card-subtitle {
  color: white;
  font-family: "Google Sans Code", monospace;
  font-style: italic;
  font-weight: bold;
  margin: 0;
}

/* Responsive Adjustments */

/* Mobile */
@media (max-width: 600px) {
  .Website-card {
    padding-left: 0px;
    padding-bottom: 1rem;
    width: 90%;
  }

  .Website-card .card-title {
    font-size: 32px;
  }

  .Website-card .card-subtitle {
    font-size: 18px;
  }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .Website-card {
    padding-left: 30px;
    margin-top: 15px;
    width: 80%;
  }

  .Website-card .card-title {
    font-size: 40px;
  }

  .Website-card .card-subtitle {
    font-size: 20px;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .Website-card {
    margin-top: 0px;
    width: 60%;
  }

  .Website-card .card-subtitle {
    font-size: 18px;
  }
}
